
      /* body{background-color:#008080;} */
/*  body{background-color:#AA96DA;} */
body{background-color:#DDA0DD;}
      body{color:white;}
body{font-size:30px;
font-family:Optima, sans-serif;}

nav{font-size:20px; 
      color:yellow;
  background-color:#000000; 
 float:left;
margin-right:6px;}
a{color:yellow;
border:5px black}

img{float:right;}

h1{font-size:3em;
font-family:cursive}
h2(font-size:2.5em;
}
h3{font-size:2em;
}
p{text-align:justify;}








