
      /* body{background-color:#008080;} */
  body{background-color:#AA96DA;}
      body{color:white;}
a{font-size:50px; 
  border:3px solid purple; 
  background-color:#fe2c54; 
  color:white;
      position: -webkit-sticky;
}
h1{font-size:100px;}
h2(font-size:70px;}
h3{font-size:50px;}
img{
      width:10%;
     border: 3px solid red;
}

.numtext{

        font-size: 20px;
  padding-left: 20px;
      padding-top: 20%;
      float: left;
}

.numimg{
        max-width: 100%;
  max-height:100%;
}
.numdecoration{
    /*  background-color:purple;  */
    /*  width:35%;               */
    /*  color:white;             */
   /*   border:2px red          */
       display: flex;
 align-items: center; 
 grid-template-columns: center;
 /* column-gap: 5px */;
            
}
      
      



p{color:white;
font-size:40px;}


