
      /* body{background-color:#008080;} */
/*  body{background-color:#AA96DA;} */
body{background-color:#DDA0DD;}
      body{color:white;}
body{font-size:30px}

nav{font-size:30px; 
      color:black;
  background-color:#000000; 
 float:left;
margin-right:6px;}
a{color:purple;
border:5px black}

img{float:right;}

h1{font-size:3em;
font-family:cursive}
h2(font-size:2.5em;
font-family:san-serif;}
h3{font-size:2em;
font-family:san-serif;}
p{text-align:justify;}








